@media (max-width:767px){
    .responsive{
        display: block;
    }
    .non-responsive{
        display: none;
    }
    .search input[type="text"]{
        display: none;
    }

    header .search {
        position: relative;
        flex: 0 0 10%;
    }
    header .intranetHeading {
        flex: 0 0 55%;
    }
    header .notification {
        display: flex;
        flex: 0 0 25%;
    }

    header .search svg{
        width: 25px;
        height: 25px;
        padding: 7px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box !important;
        background: #fff;
        color: #000;
        box-shadow: 1px 1px 1px 1px #0006;
    }
    header .notification .item {
        width: 25px;
        height: 25px;
        margin:0 2px;
    }
    header .notification .item svg {
        font-size: 13px;
    }
    #searchInput{
    position: absolute;
    top: 30px;
    background: #ffffff;
    color: #000;
    z-index: 2;
    padding: 10px 20px;
    }

    .search .show{
        display: block !important;
    }
    header .intranetHeading h1 {
        font-size: 16px;
        margin: 0;
    }
    header .logo {
        padding: 15px 10px;
    }
    header .logo img{
        width:100%;
    }
    header .rightHeader {
        padding: 10px 5px;
    }
    header .notification .language .languageDropdown {
        margin-top: 20px;
        width: 110px;
        padding: 10px;
    }
    header .notification .language .languageDropdown ul li {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }
    header .notification .language .languageDropdown ul li a {
        color: #777;
        font-size: 14px;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #fff;
        min-width: 100%;
        overflow: visible;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
        left: 0;
        top: 10px;
        padding: 10px;
        border-radius: 10px;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .sideNav .menu .dropdown-content .subMenu ul li a {
        white-space: inherit;
    }
    .dropdown-content a {
        padding: 5px 5px;
    }
    .sideNav .menu .dropdown-content .subMenu ul li:before {
        top: 5px;
        left: 10px;
        font-size: 14px;
    }
    .sideNav .menu .dropdown-content .subMenu ul li {
        border: 1px solid #eee;
    }
    .dropdown.active{
        padding-bottom: 20px !important;
    }

    .sideNavShow .poll .responsive{
        display: none;
    }

    .sideNavShow .poll .non-responsive{
        display: block;
    }
    .sideNav .menu .dropdown-content .subMenu a {
        color: #464545;
        font-size: 14px;
    }
    .sideNav .profile {
        padding: 10px;
        overflow: hidden;
        padding-top: 10px;
    }

    .sideNav .userImg img{
        width:30px;
    }
    .sideNav .profile .userName {
        margin: 10px 0 5px;
        font-size: 17px;
        white-space: nowrap;
        /* display: none; */
        visibility: hidden;
    }

    .sideNav .profile .userName::first-letter{
        font-size: 25px;
        visibility: visible;
        padding-left: 4px;
        font-style: normal;
    }
    .sideNavShow .profile .userName{
        visibility: visible;
    }
    .sideNavShow .profile .userName::first-letter{
        font-size: inherit;
    }
    .sideNav .profile .userMail {
        font-size: 14px;
        display: none;
    }   
    .dropdown:after {
        position: relative;
        transform: translateY(-100%);
        float: right;
        display: none;
    } 

    .sideNavShow .dropdown:after{
        display: block !important;
    }

    .sideNavShow .userName, .sideNavShow .userMail{
        display: block !important;
    }
    .sideNav .menu {
        padding: 10px;
    }
    .sideNav .sticky{
        overflow: hidden;
    }

    .sideNav .stickyItem{
        max-width: 50px;
    }

    .sideNavShow .sticky{
        max-width: 100%;
    }
    .sideNav {
        width: 100%;
        max-width: 50px;
        transition: .5s ease-in-out;
        position: absolute;
    }
    .sideNavShow{
        max-width: 100%;
    }
    .sideNavShow .stickyItem {
        max-width: 100%;
        /* position: fixed; */
        top: 0;
    }
    .showDrop .dropdown-content {
        display: none;
    }
    .sideNavShow .showDrop .dropdown-content {
        display: flex;
        overflow: scroll;
        max-height: 350px;
    }

    .stickySideNav{
        position: fixed;
        position: -webkit-sticky;
        top: 0;
    }
    .stickyItem{
        position: relative;
    }
    .mainContent {
        width: 86%;
        left: 14%;
        position: relative;
    }
    .sideNavShow #responsiveHide svg{
        color: #777;
        font-size: 18px;
    }
    .sideNav .menu ul li {
        margin: 0px 0;
    }
    .sideNav .menu ul li a {
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .sideNav .menu .active, .sideNav .menu ul li:hover {
        padding-left: 10px;
    }
    .sideNav .menu ul li a svg {
        margin-right: 25px;
        width: 20px;
        transition: .5s ease-in-out;
    }
    .sideNavShow .menu ul li a svg{
        margin-right:5px;
    }

    .sideNav #responsiveHide{
        display: block;
    }
    #responsiveHide{
        position: absolute;
    top: 0;
    right: -26px !important;
    z-index: 9;
    padding: 3px 6px;
    background: #ffffff;
    height: 28px;
    box-shadow: 4px 3px 3px 0px #0000001a;
    }

    .sideNavShow #responsiveHide{
        right: 0 !important;
    }

    .sideNav .profile .logout {
        position: absolute;
        left: 0;
        right:auto;
        top: 0;
        background: #eee;
        padding: 5px;
        z-index: -1;
    }
    .sideNavShow .profile .logout {
        z-index: 0;
        transition: .5s ease-in-out;
    }
    .poll {
        padding: 10px;
        margin: 0px;
        border-radius: 0px;
        white-space: nowrap;
    }
    .heading h4 {
        text-transform: uppercase;
        font-size: 16px;
        padding-left: 12px;
    }
    .poll .heading {
        margin-bottom: 10px;
    }
    .poll ul li {
        padding-bottom: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
    }
    .poll a {
        color: #fff;
        font-size: 14px;
        padding-left: 5px;
    }

    .mainContent .sliderCMD .slider img {
        height: 100px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }

    .cmd{
        margin-top: 20px;
    }

    .slider .svg-inline--fa{
        font-size: 10px;
    }
    .myApps, .quickLinks, .holidayList {
        height: auto;
    }

    .birthdays, .weather {
        height: auto;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        background: #eee;
        font-size: 22px;
        width: 20px;
        height: 20px;
    }
    .owl-nav button span {
        padding: 0px;
        line-height: 15px;
        height: 20px;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav {
        top: -30px;
    }

    .centerNav {
        margin: 20px 0px 0;
    }
    .department .centerSection {
        margin: 0px 0px 20px;
        padding: 0;
    }

    .holidayList .holiday {
        font-size: 22px;
        word-break: break-all;
    }
    .holidayList .item {
        overflow: hidden;
    }
    footer .upperFooter {
        padding: 20px 10px;
    }
    footer .footerItem{
        margin-bottom: 25px;
    }
    footer .upperFooter .col-md-3:nth-last-child(1) .footerItem{
        margin-bottom:0;   
    }
    footer .footerItem .footerHead {
        margin-bottom: 5px;
        font-size: 18px;
    }
    footer .footerItem ul li a {
        color: #fff;
        font-size: 14px;
    }    
    footer .footerBottom .center {
        text-align: left;
    }
    footer .footerBottom .right .d-flex {
        justify-content: start;
        margin: 10px 0 0;
    }
    footer .footerBottom {
        padding: 10px;
    }
}