@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

hr{
    margin: 0;
}

.m-20{
    margin:20px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px !important;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

li{
    margin:0;
    padding:0;
    list-style: none;
}

.responsive{
    display: none;
}

.blue{
    color:#1caaec;
}

.align-center{
    align-items: center;
}

.card{
    padding: 20px;
    background: #fff;
    border: none;
    box-shadow: none;
}


.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    justify-content: space-between;
}

.heading h4{
    text-transform: uppercase;
    font-size: 20px;
}

header{
    background-color: #1caaec;
}

header.d-flex{
    justify-content: start;
}

header .logo{
    padding: 20px;
    background: #1d8ec3;
    width: 100%;
    max-width: 20%;
    text-align: center;
}
header .rightHeader{
    padding:20px;
}

header .rightHeader.d-flex{
    justify-content: space-between;
    width: 100%;
}

header .search{
    position: relative;
    flex:0 0 20%;
}

header .search svg{
    position: absolute;
    left: 18px;
    top: 16px;
    color:#fff;
}

header .search input{
    padding: 10px;
    border-radius: 35px;
    border: 1px solid #eee;
    padding-left: 45px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 7px 12px 0 rgb(31 38 135 / 37%);
    border-radius: 28px;
    border-color: #fff;
    color: #fff;
    transition: .5s ease-in-out;
}

header .search input:focus-visible{
    outline: none;
    box-shadow: 0px 0px 2px 3px #eeeeee9e;

}

header .search input::placeholder{
    color:#fff;
}

header .notification {
    display: flex;
    flex:0 0 20%;
    justify-content: end;
}

header .notification .item{
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    margin: 0 10px;
    transition: .5s ease-in-out;
    box-shadow: 1px 1px 1px 1px #0006;
}

header .notification .language .languageDropdown{
    position: absolute;
    top: 30px;
    margin-top: 20px;
    background: #fff;
    width: 140px;
    padding: 10px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #000;
    right: 0;
}

header .notification .language .languageDropdown ul li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

header .notification .language .languageDropdown ul li:nth-last-child(1){
    margin-bottom: 0;
    border-bottom: none;
}

header .notification .language .languageDropdown ul li a{
    color:#777;
}

header .notification .language .languageDropdown ul li a img{
    height: 15px;
    width: 25px;
    object-fit: cover;
}

header .notification .item:hover{
    box-shadow: 0px 0px 13px 2px #eee;
}

header .notification .item svg{
    font-size: 20px;
}

header .notification .favApps .myApps{
    display: none;
}

header .notification .language .languageDropdown{
    display: none;
}

header .notification .language .showLanguageHeader{
    display: block;
    
}

header .notification .favApps .showAppsHeader{
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    z-index: 2;
    box-shadow: 0px 0px 2px 0px #000;
}

header .intranetHeading{
    flex: 0 0 60%;
    justify-content: center;
    display: flex;
}

header .intranetHeading h1{
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
}

.visionMission{
    padding: 10px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.visionMission span{
    background: #3f89ba;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px 0px 0 3px;
}

.dropdown {
    position: relative;
}

.dropdown:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #1caaec;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    overflow: visible;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    left: 382px;
    top: 0;
    padding: 20px;
    border-radius: 10px;
    max-width: 1240px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .listColoumn{
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 300px;
}

.showDrop .dropdown-content{display: flex;}

.main{
    justify-content: start;
    align-items: self-start;
    position: relative;
    z-index: 0;
}

.sideNav{
    width: 100%;
    max-width: 20%;
    background-color: #fff;
    position: relative;
    /* height: auto; */
}

.sideNav #responsiveHide{
    display: none;
}

.sideNav .menu .drop{
    position: relative;
}

.sideNav .menu .drop-menu{
    position: absolute;
    z-index: 9;
    left: 382px;
    background: #fff;
    top: 0;
    display: none;
    width: 100%;
    right: 0;
    box-shadow: 0px 0px 4px 2px #0000002b;
    padding: 20px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    width: 1200px;
}

.dropdown-contentInner{
    left: 100%;
    display: none !important; 
}

.dropdown .list:hover .dropdown-contentInner {
    display: block !important;
}

.sideNav .menu .drop .drop-menu{
    display: block;
}

.sideNav .menu .dropdown-content .subMenu ul li{
    padding:0;
    position: relative;
}

.sideNav .menu .dropdown-content .subMenu ul li a{
    overflow: hidden;
    padding-left: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sideNav .menu .dropdown-content .subMenu ul li:hover:before{
    color:#1caaec;
}

.sideNav .menu .dropdown-content .subMenu ul li:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0da";
    position: absolute;
    top: 11px;
    left: 10px;
}

.sideNav .menu .dropdown-content .subMenu ul li a svg{
    margin-top:3px;
    display: none;
}

.sideNav .menu .drop-menu .subMenu ul li a{
    color:#464545;
    font-size: 16px;
    transition: .5s ease-in-out;
}

.sideNav .menu .drop-menu .subMenu ul li:hover a{
    color:#1caaec;
}

.stickyItem{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    max-width: 20%;
    background-color: #fff;
}

.sideNav .profile{
    text-align: center;
    padding: 20px;
}

.sideNav .profile .userName{
    margin: 15px 0 5px;
    font-size: 22px;
    color: #1caaec;
    font-style: italic;    
}

.sideNav .profile .userMail{
    font-size: 18px;
    color: #7c7a7a;
}

.sideNav .profile .logout{
    position: absolute;
    right: 0;
    top: 0;
    background: #eee;
    padding: 10px;
    display: none;
}

.sideNav .profile .logout svg{
    font-size: 20px;
    color: #777;
}

.sideNav .menu{
    padding: 20px;
}

.sideNav .menu .active, .sideNav .menu ul li:hover{
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    padding-left: 25px;
    border: none;
    
}

.sideNav .menu .active a , .sideNav .menu ul li:hover a{
    color: #1caaec;
}

.sideNav .menu .dropdown-content .subMenu a {
    color: #464545;
    font-size: 16px;
}

.sideNav .menu .dropdown-content .subMenu li:hover a{
    color: #1caaec;
}

.sideNav .menu ul li{
    padding: 10px;
    transition: .5s ease-in-out;
    margin: 5px 0;
}

.sideNav .menu ul li a{
    color: #464545;
    font-size: 18px;
    display: block;
}

.sideNav .menu ul li a span{
    float:right;
}

.sideNav .menu ul li a svg{
    margin-right: 5px;
}

.poll{
    padding:15px;
    margin:20px;
    background-color: #4e4e4e;
    color:#fff;    
    border-radius: 10px;
}

.poll .heading{
    margin-bottom: 30px;
}

.poll ul li{
    list-style-type: square;
    list-style-position: inside;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    margin-bottom: 15px;
    transition: .5s ease-in-out;
}

.poll ul li:hover{
    padding-left: 15px;
}

.poll a{
    color: #fff;
}

.submitBtn a{
    color: #fff;
    display: inline-block;
    background: #1caaec;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.mainContent{
    width: 80%;
    position: static;
    z-index: -1;
}

.mainContent .item{
    padding:20px;
    margin-top: 15px;
    transition: .5s ease-in-out;
}

.mainContent .item:hover{
    background: #eee;
    border-radius: 5px;
}

.mainContent #ImportantLinks .item img{
    width: auto;
    height: 45px;
    margin: 0 auto;
}

.mainContent .item .text{
    font-size: 14px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #777;
}

.mainContent .sliderCMD{
    flex: 0 0 100%;
    padding: 20px;
}

.mainContent .sliderCMD .cmd{
    flex: 0 0 25%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.mainContent .sliderCMD .slider{
    flex: 0 0 75%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.mainContent .sliderCMD .cmd ul li{
    border: 1px dashed #cbcbcb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background: #1caaec0d;
}

.mainContent .sliderCMD .cmd ul li:nth-last-child(1){
    margin-bottom: 0;
}

.mainContent .sliderCMD .cmd ul li:first-child{
    margin-top: 0;
}

.mainContent .sliderCMD .cmd ul li img{
    width: 45px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
}

.mainContent .sliderCMD .cmd ul li a{
    display: block;
}

.mainContent .sliderCMD .cmd ul li span{
    margin-left: 20px;
    font-size: 18px;
    color: #464545;
    
}

.mainContent .sliderCMD .slider img{
    height: 335px;
    border-radius: 5px 5px 0px 0px;
}


.slider .carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    color: white;
    text-align: center;
    background: #0000009e;
    z-index: 9999;
    border-radius: 0px 0px 5px 5px;
}

.slider .carousel-caption a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.slider .carousel-indicators{
    display: none;
}

.carousel-control-next, .carousel-control-prev{
    width: 30px;
    height: 30px;
    background: #000;
    padding: 7px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
    background: #66b933;
}

.thought , .quickLinks, .holidayList{
    height: 200px;
}

.thoughOfDay{
    position: relative;
}

.thought .content{
    font-size: 14px;
    color: #777;
    border: 1px solid #eee;
    padding: 17px 10px 10px;
    height: 120px;
    margin-top: 10px;
    position: relative;
    overflow: auto;
}

.thought .thoughOfDay:before{
    content: '\f10e';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateY(-50%);
    color: #1caaec;
    font-size: 25px;
    z-index: 1;

}


/* Old Apps Section Css  
.apps ul{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}

.apps ul li{
    flex: 0 0 33.3%;
    justify-content: center;
    display: flex;
    margin: 10px 0;
    position: relative;
    
}

.apps ul li a{
    position: relative;
    z-index: 1;
}

.apps ul li:before{
    content: '1';
    color: #0000001a;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    z-index: 0;
}

.apps ul li:nth-child(2):before{
    content: '2';
}

.apps ul li:nth-child(3):before{
    content: '3';
}

.apps ul li:nth-child(4):before{
    content: '4';
}

.apps ul li:nth-child(5):before{
    content: '5';
}

.apps ul li:nth-child(6):before{
    content: '6';
}


.apps ul li a{
    border-radius: 5px;
    transition: .5s ease-in-out;
    font-size: 30px;
    color: #3f89ba;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.apps ul li a:hover{
    background: #eee;
    transform: translateY(-5px);
}

 Old Apps Section Css */


.apps ul li a{
    color: #777;
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.apps ul li a:hover{
    color: #3f89ba;
}

.apps ul li a svg{
    width: 30px;
    text-align: left;
    margin-left: 0;
    font-size: 14px !important;
    color: #3f89ba;
}

.app ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.app ul li{
    flex: 0 0 auto;
    width: calc(33.3% - 10px);
    position: relative;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.app ul li a{
    color: #3f89ba;
    position: relative;
    z-index: 1;
}

.app ul li:nth-child(1):before{
    content: '1';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #b9b9b9;
    top: 50%;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
    transform: translate(-50%, -50%);
}

.app ul li:nth-child(2):before{
    content: '2';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 20%;
    transform: translateX(-50%);
    color: #c1bdbd;
    top: -12px;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
}

.app ul li:nth-child(3):before{
    content: '3';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 85%;
    transform: translateX(-50%);
    color: #c1bdbd;
    top: -12px;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
}

.app ul li:nth-child(4):before{
    content: '4';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 85%;
    transform: translateX(-50%);
    color: #c1bdbd;
    top: -12px;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
}

.app ul li:nth-child(5):before{
    content: '5';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 85%;
    transform: translateX(-50%);
    color: #c1bdbd;
    top: -12px;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
}

.app ul li:nth-child(6):before{
    content: '6';
    position: absolute;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    left: 85%;
    transform: translateX(-50%);
    color: #c1bdbd;
    top: -12px;
    line-height: 45px;
    font-family: 'Noto Sans', sans-serif;
}


.owl-dots{
    display: none;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav {
    position: absolute;
    right: -5px;
    top: -35px;
    display: flex;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    background: #eee;
    font-size: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    border-radius: 3px;
}

button span{
    padding: 0px;
    line-height: 35px;
    height: 40px;   
}

.holidayList .content{
    justify-content: start;
    margin-top: 10px;
}
.holidayList .item{
    padding: 0;
    margin: 0;
}

.holidayList .date{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-transform: uppercase;
    height: 130px;
    background: #eeeeee7a;
    justify-content: center;
    padding: 20px;
    border-radius: 59px;
    align-items: center;
    margin-right: 20px;
}

.holidayList .date span{
    background: #83d535;
    padding: 5px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.holidayList .holiday{
    font-size: 30px;
    color: #484444;
    position: relative;
    z-index: 10;
}

.holidayList .item:hover .typeOfHoliday{
    color:#fff;
}

.typeOfHoliday{
    position: absolute;
    right: -4px;
    font-size: 80px;
    color: #eeeeee91;
    bottom: 0px;
    line-height: 70px;
    z-index: 1;
    transition: .5s ease-in-out;
}

#pills-tab{
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #fff;
    color: #5e5c5c;
    transition: .5s ease-in-out;
}

.nav-pills .nav-link {
    color: #525151;
}

.NewsEvent , .twitter, .documentLiabraries{
    height: 500px;
}

.NewsEvent .box{
    margin-top: 0;
    border: 1px dashed #cbcbcb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #1caaec0d;
}

.NewsEvent .imgBox img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 5px 0px 0px 5px;
}

.NewsEvent .contentBox a{
    color: #3f89ba;
    font-size: 16px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.NewsEvent .contentBox .date{
    text-align: right;
    color: #777;
    font-size: 14px;
    position: relative;
    float: right;
    display: block;
}

.NewsEvent .contentBox .date:before{
    content: "";
    width: 20px;
    height: 1px;
    background-color: #8b778d;
    position: absolute;
    left: -30px;
    top: 10px;
}

.NewsEvent .newsBox {
    justify-content: start;
}

.NewsEvent .newsBox .dateBox{
    background: #3f89ba;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    width: 70px;
}

.NewsEvent .newsBox .dateBox span{
    display: block;
    font-size: 25px;
}

.documentLiabraries .item{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
}

.documentLiabraries .item:hover {
    padding: 10px;
}

.liabraries{
    justify-content: space-between;
}

.liabraries .liabrariesLink{
    color: #3f89ba;
}

.liabraries .liabrariesLink span{
    display: block;
    font-size: 14px;
    color: #777;
}

.liabraries .liabrariesLink span:before{
    content: '--';
    margin-right: 10px;
}

.liabraries .lastUpdated {
    font-size: 13px;
    color: #464563;
}

.liabraries .lastUpdated span{
    display: block;
}

.birthdays , .weather{
    height: 290px;
}

.birthdays .userInfo{
    text-align: center;
    padding: 5px;
}

.birthdays .userInfo img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.birthdays .userInfo p{
    margin: 0;
    font-size: 14px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1caaec;
}

.birthdays .userInfo .designation{
    font-size: 12px;
}

.weather .heading{
    margin-bottom: 10px;
}

footer{
    background: #093f58;
    color: #fff;
}

footer .upperFooter{
    padding:20px;
}

footer .footerItem .footerHead{
    margin-bottom: 20px;
}

footer .footerItem ul li{
    list-style-type: square;
    transition: .5s;
    margin: 5px 0 5px 18px;
}

footer .footerItem ul li:hover{
    margin-left: 25px;
}

footer .footerItem ul li a{
    color: #fff;
}

footer .footerBottom{
    background: #073144;
    padding: 20px;
}

footer .footerBottom p{
    margin:0;
}

footer .footerBottom .center{
    text-align: center;
}

footer .footerBottom .right .d-flex{
    justify-content: end;
}

footer .footerBottom .right ul li a{
    color: #000;
    width: 30px;
    padding: 5px;
    margin: 0 5px;
    background: #e0e0e0;
    box-shadow: 0px 0px 4px #bebebe, 0px 0px 0px #ffffff;
    border-radius: 5px;
}

footer .footerBottom .email a{
    color: #1caaec;
}



/* Department start */
.departmentSubHead{
    background: #fff;
}

.departmentsPath ul{
    display: flex;
    min-height: 55px;
    align-items: center;
    flex-wrap: wrap;
}

.departmentsPath ul li{
    margin: 0 6px;
}

.departmentsPath ul li:hover a{
    color:#1caaec;
}

.departmentsPath ul li:after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0da";
    padding-left: 10px;
    color: #1caaec;
}

.departmentsPath ul li:nth-last-child(1):after{
    display: none;
}

.departmentsPath ul li a{
    color:#777;
}

.departmentName h1{
    margin: 0;
    font-size: 22px;
    float: right;
    color: #1caaec;
}

.navDepartment .bottomImg img{
    height: 220px;
    width: 100%;
    object-fit: cover;
    display: none;
}

.drop{
    background: #1d8ec3;
    text-align: center;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.dropInner{
    display: block;
}

.dropInner li{
    background: #fff;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.dropInner li a{
    color: #777;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.dropInner li a:hover{
    background-color: #dfdfdf;
}

.drop1{
    position:relative;
    /* background: #1caaec66 !important;
    color: #fff; */
}

/* .drop1 a{
    color: #fff !important;
} */

.drop1:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    padding-left: 10px;
    color: #3f89ba;
    position: absolute;
    right: 10px;
    top: 0px;
    transform: rotate(90deg);
}


.accordion{
    margin:20px;
}

.accordion .contentBox{
    background-color: #fff;
    margin:10px;
}

.contet{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.label{
    background-color: #1caaec;
    padding: 5px;
    color:#fff;
}

.centerNav{
    padding:6px;
    background-color: #e7e3e3;
    margin:0 20px;
    background-color: #fff;
    border-radius: 5px;
}

.centerNav marquee ul{
    display: flex;
}

.centerNav marquee ul li{
    margin: 0 5px;
}

.centerNav marquee ul li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    color:#1caaec;
    padding-right: 5px;
}

.menuDepartments{
    display: flex;
    gap: 10px;
    padding: 4px;
}

.menuDepartments li:after{
    content: "|";
    padding-left: 10px;
}

.menuDepartments li:nth-last-child(1):after{
    display: none;
}

.menuDepartments li a{
    color: #464545;
}

.department .centerSection{
    margin: 0 20px;
    padding:5px;
}

.department .centerSection .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.department .centerSection .owl-carousel .owl-nav button.owl-next,.department .centerSection .owl-carousel .owl-nav button.owl-prev,.department .centerSection .owl-carousel button.owl-dot {
    background: #fff;
}

.department .centerSection .owl-prev{
    position: relative;
    transition: .5s ease-in-out;
    left:-45px;
}

.department .centerSection .owl-next{
    position: relative;
    transition: .5s ease-in-out;
    right:-40px;
}

.centerSection .owl-carousel.owl-loaded {
    display: block;
    overflow: hidden;
}

.centerSection .owl-carousel:hover .owl-prev{
    left:3px;
}

.centerSection .owl-carousel:hover .owl-next{
    right:10px;
}

.centerSection .item{
    padding: 0;
    margin: 0;
    overflow: hidden;
} 

.tilesContent{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tilesContent .item{
    background: #1caaec;
    padding: 15px;
    border-radius: 5px;
}

.tilesContent .item a{
    color: #fdfdfd;
}

.tilesContent .item:hover{
    background-color: #1caaec;
}

.centerSection .heading h4{
    margin: 10px 15px 10px;
    border-left: 3px solid #1d8ec3;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 2px 3px #0000000a;
}

.centerImg{
    padding:15px;
}

.centerImg img{
    width: 100%;
}

.centerContent{
    padding:15px;
}

.centerContent ul li{
    line-height: 30px;
}

.centerContent ul li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    color: #55595a;
    padding-right: 7px;
}

.departmentTabs{
    min-height: 740px;
    padding: 20px;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.tiles .item{
    width: calc(33.3% - 20px);
    background: #efefefab;
    padding: 10px;
    height: 220px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.tiles .item:hover{
    background: #fff;
    box-shadow: 0px 0px 3px 4px #0000001a;
}

.tiles .item a{
    color:#777;  
    overflow: hidden;
}

.tiles .tilesImg{
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.tiles .item img{
    object-fit: cover;
    width: 100%;
    height: 160px;
    transition: .5s ease-in-out;
    scale: 1;
   
}

.tiles .item:hover img{
    scale: 1.1;
}

.tiles .item span{
    display: block;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* Department End */

/* Accordion start */

#accordian {
    margin: 0px auto 0 auto;
}

#accordian h3{
    margin: 0;
    position: relative;
}

#accordian .active h3{
    background-color: #1d8ec345;
}

/* #accordian h3 a {
    padding: 0 10px;
    font-size: 12px;
    line-height: 34px;
    display: block;
    color: #000;
    text-decoration: none;
} */

#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian h3::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    position: absolute;
    right: 10px;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    color: #1caaec;
    font-size: 15px;
    transition: .5s ease-in-out;
}

.active h3::after{
    transform: rotate(90deg) !important;
    top:30% !important;
}

#accordian li {
    list-style-type: none;
    position: relative;
} 

#accordian ul ul li a,
#accordian h4 {
    color: #504f4f;
    text-decoration: none;
    font-size: 13px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    transition: all 0.15s;
    position: relative;
}

#accordian ul ul {
    display: none;
}

#accordian li.active>ul {
    display: block;
}

#accordian ul ul ul {
    margin-left: 15px;
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    position: absolute;
    right: 10px;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    color: #1caaec;
    font-size: 14px;
    transition: .5s ease-in-out;
}

#accordian .active ul li{
    background: #ddd;
    border-color: #d1d1d1;
}

#accordian .active>a:not(:only-child):after {
    transform: rotate(90deg);
    top: 0;
}

/* Accordion end*/

/* Static Page Css */

.mainHeading h3{
    background: #f3f3f3;
    padding: 10px;
    border-left: 3px solid #1D8EC1;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 22px;

}

.subContent h4{
    font-size: 20px;
}

.subContent h4:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1d8ec3;
    display: inline-block;
    transform: translate(-5px, -5px);
    margin-left: 5px;
}


/* Static Page Css */